/*
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(255,211,179,0.4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons {
  border-radius: 50px;
  width: 600px;
  padding: 30px;
  background: rgb(16,98,119);
  background: linear-gradient(180deg, rgba(16,98,119,0.5) 35%, rgba(25,8,140,0.5) 84%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid black;
}

.btn {
  width: 250px;
  height: 250px;
  padding: 50px;
  border-radius: 50%;
  border: 18px solid black;
  box-shadow: 0 10px 2px grey ;
  transition: all 0.3s ease;
}

.btn:hover {
  cursor: pointer;
}

button span {
  display: none;
}

.red {
  border-color: rgba(218,48,76,0.75);
}

.red:active,
.green:active,
.brown:active {
  border-color: black;
  box-shadow: none;
  transform: translateY(10px);
}

.green {
  border-color: rgba(70,164,108,0.75);
}

.brown {
  border-color: rgba(224,109,16,0.75)
}

.para {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  border-radius: 15px;
  width: 430px;
  padding: 10px 20px;
  border: 2px solid black;
  background: rgb(16,98,119);
  background: linear-gradient(180deg, rgba(16,98,119,0.5) 35%, rgba(25,8,140,0.5) 84%);
}
*/
* {
  color: white;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

body {
  position: relative;
  height: 100vh;
  background: rgb(16,74,119);
  background: radial-gradient(circle, rgba(16,74,119,1) 35%, rgba(23,7,134,1) 84%);
}

.game-board {
  height: 100%;
  width: 100%;
}

#log {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  display: none;
  text-align: right;
}

.computer-side {
  border-bottom: 5px rgba(128,128,128,0.5) solid;
}

.result-side {
  width: 100%;
  height: 60%;
}

.player-side {
  border-top: 5px rgba(128,128,128,0.5) solid;
}

.player-side::after {
  content: "PLAYER";
  position: absolute;
  bottom: 20%;
}

.computer-side::after {
  content: "COMPUTER";
  position: absolute;
  top: 22%;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, -1);
}

.computer-side,
.player-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 50%;
}

.fa {
  background: none;
  border: none;
}

@media (max-width: 480px) {
  #log {
    visibility: hidden;
  }
  span {
    display: none;
  }
}